notion-haystack
haystack-ai
sentence-transformers
openai~=1.59.3
uvicorn~=0.34.0
fastapi~=0.115.6
pydantic~=2.10.4
langchain~=0.3.14
notion-client~=2.3.0
python-dotenv~=1.0.1
haystack~=0.42
SQLAlchemy~=2.0.36
redis~=5.2.1
Booktype~=1.5
ollama~=0.4.5
slack_sdk~=3.34.0
Flask~=3.1.0
transformers~=4.47.1